<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxt.loginsert.domain.repository.TrafficEventUtmLocMapper">

    <insert id="insertList" parameterType="com.bxt.loginsert.domain.po.UtmLocPO">
        insert into
            traffic_event_utmloc
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                nextval('seq_traffic_event_utmloc'),
                #{historyPrimaryKey},
                #{item.utmX},
                #{item.utmY},
                #{item.utmZ}
            )
        </foreach>
    </insert>

</mapper>
